body {
    margin: 0 auto;
    max-width: 50rem;
    padding: 1rem;
    background-color: rgb(89, 117, 28);
    border-radius: 5px;
    border: 1px solid #ccc;
    color: rgb(211, 215, 214);
    margin-top: 2rem;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    
}